<!-- /var/lib/clickhouse/preprocessed_configs/config.xml -->
<clickhouse replace="true">
    <listen_host>0.0.0.0</listen_host>
    <remote_servers>
        <cluster_free_iliad>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01.free-iliad.com</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-03.free-iliad.com</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-02.free-iliad.com</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-04.free-iliad.com</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster_free_iliad>
    </remote_servers>
    <zookeeper>
        <node>
            <host>clickhouse-keeper-01.free-iliad.com</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-02.free-iliad.com</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-03.free-iliad.com</host>
            <port>9181</port>
        </node>
    </zookeeper>
</clickhouse>